body { background-color:white; color:black; }

div.all { margin-top:2px; margin-left:2px; margin-right:auto }

	a:visited {color:blue;	}
a:link { color:blue; }
a:active { color:blue;}

.style1 { text-align: center;
}
.style2 {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.style3 {
	border: 1px solid black;
}
.style4 {
	font-size: 16pt;
	font-family: Arial;
	color: #000000;
	font-weight: bold;
}
.style3 {color:#FFFFFF;#000000;
}
.ref_images {
	font-family: Georgia, Times New Roman, Times, serif;
	font-color: blue;
                font-size: 12pt;
}   	

.title_images {font-size: 16pt;
	font-family: Georgia, Times New Roman;
	color: #000000;
	font-weight: bold;
}

.MainTopic {font-size: 32pt;
	font-family: Arial;
	color: #000080;
	font-weight: bold;
}



H1     {font-size: 20pt;
	font-family: Arial;
	color: #000080;
	font-weight: bold;
}
H2     {font-size: 16pt;
	font-family: Arial;
	color: #022f55;
	font-weight: bold;
}
H3     {color:#022f55;
}

.tableinsert {
	vertical-align: top;
	text-indent: 20px;
}
.caution {
	padding: 10px;
	margin: 0px;
	border-color: #0000FF;
	border-style: outset;
	border-width: 1px 4px 4px 4px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #FFCCCC;
}

.important-text {font-size: 18pt;
	color: #022f55;
	font-weight: bold;
}

.note-text {font-size: 18pt;
	color: #022f55;
	font-weight: bold;
}
.important {
	padding: 10px;
	margin: 0px;
	border-color: #0000FF;
	border-style: outset;
	border-width: 1px 4px 4px 4px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #FFCCCF;
}
.note {
	padding: 10px;
	margin: 0px;
	border-color: #0000FF;
	border-style: outset;
	border-width: 1px 4px 4px 4px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #C0C0C0;
}

.hidden {
	color: #C0C0C0;
}
.notice {
	padding: 10px;
	margin: 0px;
	border-color: #808080 #666666 #666666 #808080;
	border-style: solid outset outset solid;
	border-width: 1px 4px 4px 4px;
	border-left: 1px solid #808080;
	border-top: 1px solid #808080;
	background-color: #C0C0C0;}

* {
	font-family:arial,sans-serif;}


